.company {

  border-bottom: 1px solid ;

  .pi-section-header {
    border-bottom: 1px solid $dark;
  }

  .people {

    .pi-content-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      @media (max-width: $lte-largePhone) {
        flex-direction: column;
        align-items: center;
      }

      .founder {

        width: 35%;
        @media (max-width: $lte-largePhone) {
          width: 100%;
        }

        .jordan-image {

          padding-bottom: 15px;
          margin-bottom: 30px;
          border-bottom: 1px solid $dark;


          .image-wrapper {
            border: 1px solid $dark;
            width: 100%;
            height: 200px;
            padding: 5px;

            .image {
              height: 100%;
              width: 100%;
              background-image: url("/assets/images/bradley-headshot.jpg");
              background-size: cover;
              background-position: left;
              background-repeat: no-repeat;
            }

          }

        }

      }

      .advisers {

        width: calc(65% - 50px);

        @media (max-width: $lte-largePhone) {
          width: 100%;
        }

        $gutter: 20px;

        .adviser {
          width: calc(50% - #{$gutter/2});
          float: left;

          &:not(:last-of-type){
            margin-right: $gutter;
          }

          .adviser-image-wrapper {
            width: 100%;
            height: 176px;
            border: 1px solid $dark;
            margin-bottom: 15px;
            padding: 5px;

            .image {
              height: 100%;
              width: 100%;
              background-image: url("/assets/images/keith-headshot.jpg");
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
            }
          }

          .adviser-bio {

            h4 {
              margin-bottom: 0em;
            }

            p {
              line-height: 1.4em;
              margin-top: .3em;
            }

          }

        }
      }
    }
  }

}
