.company {

  .pi-section-header {
    border-bottom: 1px solid darken($beige, 2%);
    border-top: 1px solid darken($beige, 2%);
  }

  .people {

    background-color: $beige;

    .pi-content-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      @media (max-width: $lte-largePhone) {
        flex-direction: column;
        align-items: center;
      }

      .founder {

        width: 35%;

        @media (max-width: $lte-largePhone) {
          width: 100%;
          margin-bottom: $vertical-spacing/4;
        }

        .jordan-image {

          margin-bottom: $vertical-spacing/2;

            .image {
              width: 100%;
              height: 200px;
              background-image: url("../assets/images/pitch-still.jpg");
              background-size: cover;
              background-position: left;
              background-repeat: no-repeat;
            }

        }

      }

      .advisers {

        width: calc(65% - 50px);

        @media (max-width: $lte-largePhone) {
          width: 100%;
        }

        $gutter: 20px;

        .adviser {
          width: calc(50% - #{$gutter/2});
          float: left;

          &:not(:last-of-type){
            margin-right: $gutter;
          }


          .image {
            width: 100%;
            height: 176px;
            border: 1px solid darken($beige, 5%);
            margin-bottom: 30px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            @media (max-width: $lte-largePhone) {
              margin-bottom: $vertical-spacing/4;
            }

            &.devaris {
              background-image: url("../assets/images/devaris-headshot.jpg");
            }

            &.trenton {
              background-position: top left;
              background-image: url("../assets/images/trenton-headshot.jpg");
            }

          }




          .adviser-bio {

            h4 {
              margin-bottom: 0em;
            }

            p {
              line-height: 1.4em;
              margin-top: .3em;
            }

          }

        }
      }
    }
  }

}
