.contact {

  .pi-section-header {

  }

  .get-pi-wrapper {

    display: flex;

    @media (max-width: $lte-largePhone) {
      flex-direction: column;
    }

    .get-pi, .form-wrapper {
      padding: 60px;
      @media (max-width: $lte-largePhone) {
        padding: 30px;
      }
    }

    .get-pi {
      width: 40%;
      background-color: $peach;

      @media (max-width: $lte-largePhone) {
        width: 100%;
      }

      .pi-paragraph-wrapper {
        color: white;
        max-width: 280px;
        margin: auto;
        width: 100%;
      }

    }

    .form-wrapper {
      width: 60%;
      background-color: $beige;

      @media (max-width: $lte-largePhone) {
        width: 100%;
      }

      form {

        width: 80%;
        max-width: 560px;
        margin: auto;

        @media (max-width: $lte-largePhone) {
          width: 100%;
        }

        .field-group {
          display: flex;
          border-bottom: 1px solid black;
          padding: 5px;
          padding-left: 0;
          margin-bottom: 15px;

          label {
            font-size: 10px;
            margin-right: 5px;
          }

          input {
            background: none;
            border: none;
            outline: none;
            flex-grow: 1;
            padding: 0;
            font-family: apercu_bold;
          }

        }

        .interests {
          margin-top: 25px;
          margin-bottom: 25px;

          .interest {
            display: inline-block;

            &:not(:last-of-type){
              margin-right: 20px;
              margin-bottom: 15px;
            }

            input[type="checkbox"] {
              width: 0;
              height: 0;
              display: none;
            }

            label {
              display: flex;
              font-size: 12px;
              align-items: center;

              .circle {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 1px solid black;
                margin-right: 8px;
                position: relative;

                &:after {
                  content: "";
                  display: block;
                  position: absolute;
                  width: 50%;
                  height: 50%;
                  background: black;
                  border-radius: 100%;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  transition: opacity .1s;
                  opacity: 0;
                }

              }

            }

            input[type="checkbox"]:checked + label {

              .circle:after {
                opacity: 1;
              }

            }

          }

        }

        .submit-button {
          border: 1px solid black;
          padding: 10px;
          width: 100%;
          background: none;
          outline: none;
        }

      }

    }

  }

}
