$video-wrapper-width: 440px;
$video-wrapper-height: 150px;
$video-width: 270px;
$video-height: $video-width / (16/9);
$menu-height: 65px;
$hacky-offset: 32px;

.big-head {

  position: relative;
  @-webkit-keyframes bump {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-$menu-height);
    }
  }

  .animation-wrapper {
    position: relative;
    z-index: 1;
    animation: bump .3s 2s forwards;
    background-color: white;
    overflow: hidden;
  }

  .cover-photo {
    height: 322px;
    background-color: grey;
    background-image: url("../../assets/images/cover.jpg");
    background-size: cover;
    background-position: -2% center;
    background-repeat: no-repeat;
  }

  .title-wrapper {
    margin: auto;
    margin-top: -($video-wrapper-height - $hacky-offset);
    position: relative;
    width: 80%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 36px;

    @media (max-width: $lt-tablet) {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 25px;
      padding-bottom: 25px;
      width: 85%;
    }


    .logo-side {
      .logo {
        height: 46px;
        width: auto;
      }

      @media (max-width: $lt-tablet) {
        margin-bottom: 12px;
      }

    }

    .tagline-side {

      //border: 1px solid red;

      & > * {
        //border: 1px solid red;
      }

      @media (max-width: $lt-tablet) {
        width: 184px;
      }

      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;

      .video-wrapper {
        border-bottom: 1px solid $dark;
        padding-bottom: 25px;
        margin-bottom: 36px;

        .video {
          width: $video-width;
          height: $video-height;
          background-image: url("../../assets/images/pitch-still.jpg");
          background-size: cover;
          border: 2px solid white;
          border-bottom: none;
        }

        @media (max-width: $lt-tablet) {
          padding-bottom: 10px;
          margin-bottom: 10px;
          position: absolute;
          right: -100px;
          top: 0;

          .video {
            width: 150px;
            height: 150px / (16/9);
          }

        }

      }

      .tagline {
        font-size: 1.25em;
        line-height: 1.3em;
        font-family: "apercu_medium", sans-serif;

        @media (max-width: $lt-tablet) {
          font-size: 1em;
          line-height: 1.13em;

          br {
            display: none;
          }
        }

      }
    }

  }

  .menu-block {
    background-color: #fcbb78;
    height: $menu-height;
    margin-top: 0px;
    bottom: 0;
    position: absolute;
    width: 100%;
    overflow: hidden;

    nav {
      @extend .pi-content-container;
      color: white;
      height: 100%;

      .separator{
        display: block;
        width: 1px;
        height: 300px;
        border-left: .5px solid $beige;
      }

      a {
        cursor: pointer;
      }

    }

    nav.compressed.showing {

      display: flex;
      justify-content: space-between;
      align-items: center;


      .logo-side {
        display: flex;
        align-items: center;

        .logo, .separator {
          margin-right: 30px;
        }

        .logo {
          font-weight: bolder;
          font-size: 36px;
        }

        .separator {
          transform: rotate(36deg);

          @media (max-width: $largePhone) {
            transform: rotate(30deg);
            margin-right: 20px;
          }

        }

        .current-section-mobile {
          display: none;

          @media (max-width: $largePhone) {
            display: inline;
          }

          select {
            @extend h3;
            vertical-align: middle;
            border: none;
            outline: none;
            background-color: transparent;
            text-align: left;
            color: white;
            -webkit-appearance: none;
          }

          .caret {
            font-size: .7em;
            margin-right: 4px;
          }

        }

        .current-section{
          color: white;

          @media (max-width: $largePhone) {
            display: none;
          }

        }

      }

      .nav-side {
        display: flex;
        align-items: center;

        @media (max-width: $largePhone) {
          display: none;
        }

        .separator {
          width: 6px;
          height: 6px;
          background-color: white;
          border-radius: 100%;
        }

        a:not(:last-of-type), .separator {
          margin-right: 20px;
        }

      }

    }

    nav.full {

      display: flex;
      align-items: center;
      justify-content: space-between;

      .separator {

        &:nth-of-type(1){
          transform: rotate(-42deg);
        }

        &:nth-of-type(2){
          transform: rotate(65deg);
        }

        &:nth-of-type(3){
          transform: rotate(-42deg);
        }

        @media (max-width: $lt-tablet) {
          width: 3px;
          height: 3px;
          border-radius: 50%;
          background-color: white;
          transform: rotate(0deg) !important;
        }

      }

      a {

        text-align: center;
        color: white;
        position: relative;

      }

    }
  }


}

.big-head.scrollingAwayFromTop {

  .menu-block {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: $max-body-width;
    z-index: 100;
    margin: auto;
    bottom: auto;

    nav.full {
      display: none;
      //@extend nav.full.hiding
    }

    nav.compressed {
      @extend nav.compressed.showing;
    }

  }

}

@import "header_small";
