$photo-height: 350px;
$mini-photo-height: 200px;
$statistic-height: 258px;

.philosophy {

  position: relative;

  .pi-content-wrapper {
    padding-top: 0;
    padding-bottom: 1.5*$vertical-spacing;

    @media (max-width: $lt-tablet) {
      padding-bottom: 0;
    }

    .above-stats-wrapper {

    }

    .photos {
      overflow: auto;

      .photo {
        float: left;
        height: $photo-height;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        .pi-overlay .label br {
          display: none;
        }

        @media (max-width: $lte-largePhone) {
          height: $mini-photo-height;
          background-position: center;

          .pi-overlay {

            .label {
              bottom: 10px;
              left: 10px;
              right: 0;
              line-height: 1.15em;

              br {
                display: inline;
              }

            }
          }
        }

      }

      .run {
        width: 45%;
        background-image: url("../assets/images/running.jpeg");
        background-size: 197%;
        background-position: center 35%;

        @media (max-width: $lte-tablet) {
          background-position-y: 20%;
        }

        @media (max-width: $lte-largePhone) {
          width: 50%;
        }
      }

      .work {
        background-position-y: 20%;
        background-image: url("../assets/images/working.jpeg");
        width: 55%;
        @media (max-width: $lte-largePhone) {
          width: 50%;
        }
      }

      .van {
        position: relative;
        z-index: 1;
        left: 10%;
        width: 50%;
        box-sizing: content-box;
        background-image: url("../assets/images/woman.jpeg");

        @media (max-width: $lt-tablet) {
          left: 7.5%;
          border: none;
          background-position: right center;
          width: 85%;
        }

      }

    }

    .overview {
      box-sizing: content-box;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      @media (max-width: $lt-tablet) {
        flex-direction: column;
        display: block;
      }

      .overview-paragraph-wrapper, .statistics-wrapper {
        width: 50%;

        @media (max-width: $lt-tablet) {
          width: 100%;
        }

      }

      .overview-paragraph-wrapper {

        padding-top: $vertical-spacing;

        @media (max-width: $lte-smallDesktop) {
          br {
            display: none;
          }
        }

        @media (max-width: $lt-tablet) {
          padding-top: $vertical-spacing/2;
        }

        .philosophy-overview {
          max-width: 350px;

          @media (max-width: $lt-tablet) {
            max-width: initial;
            width: 100%;
            padding: 0 !important;
          }

          h2 {
            color: $red;
          }
        }
      }

      .statistics-wrapper {

        margin-top: -$statistic-height;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @media (max-width: $lt-tablet) {
          margin-top: auto;
          align-items: flex-start;
        }

        .statistic {
          background-color: $beige;
          width: 100%;
          box-sizing: border-box;
          position: relative;
          padding: 60px;
          padding-left: 40%;
          margin-bottom: $vertical-spacing;

          @media (max-width: $lt-tablet) {
            width: 100%;
            margin-bottom: $vertical-spacing/2;
            margin-top: $vertical-spacing/2;
            padding: 50px !important;
            height: auto;
          }

          .statistic-description {
            padding-bottom: $vertical-spacing/2;
            border-bottom: 5px solid $red;

            .cite {
              font-style: oblique;
              vertical-align: super;
              font-size: .6em;
              font-family: Georgia, sans-serif;
            }
          }


        }

        .icons {
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          width: 100%;

          @media (max-width: $lt-tablet) {
            width: 100%;
            justify-content: center;
            align-items: flex-start;
            align-content: space-around;
            margin-bottom: $vertical-spacing/2;
          }


          .icon {
            width: 26%;
            max-width: 110px;
            background: $peach;
            border: 3px solid $beige;
            border-radius: 100%;
            margin-right: 3%;
            cursor: pointer;
            display: block;
            position: relative;
            //box-shadow: 0px 0px 19px 0px rgba(185, 185, 185, 0.50);


            background-size: 45%;
            background-position: center;
            background-repeat: no-repeat;

            transition: .2s all;

            &.active-stat {

              &:before {
                content: "";
                display: block;
                width: 25px;
                height: 25px;
                transform: rotate(45deg);
                background-color: $beige;
                position: absolute;
                top: -$vertical-spacing - 3px - 15px;
                left: calc(50% - 10px);

                @media (max-width: $lte-tablet) {
                  width: 20px;
                  height: 20px;
                  top: -($vertical-spacing/2) - 3px - 10px;
                }

              }

            }

            &:active, &:focus {
              outline: none;
            }

            &:not(.active-stat) {

              &:hover {
                transform: scale(1.08);
              }

              opacity: .3;

              &:hover {
                opacity: .5;
              }

            }

            &:active {
              transform: scale(1);
            }

            &:last-of-type {
              margin-right: 0px;
            }

            &.smile {
              background-image: url("../assets/smile.png");
            }

            &.heart {
              background-image: url("../assets/heart.png");
            }

            &.check {
              background-image: url("../assets/check.png");
            }

          }
        }

      }

    }

  }

}
