.product {

  .explore-pi-daily {
    background-color: $beige;
    padding: 30px 0;

    .pi-content-container {

      .section-header-text {
      }

      .endorsements {

        .endorsement {

          margin-top: -30%;
          padding-bottom: 20px;
          border-bottom: 1px solid black;

          .thumbnail {
            width: 345px;
            height: 193px;
            background: black;
          }

        }
      }
    }

  }

  .demo {
    background-color: #4d4d4d;
    padding: 60px 0px;

    @media (max-width: $lte-largePhone) {
      padding: $vertical-spacing/2 0px;
    }


    .slides-wrapper::-webkit-scrollbar { display: none }
    .slides-wrapper, .mobile-slides-wrapper {

      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      overflow-y: visible;
      white-space: nowrap;

      .slide {
        display: inline-block;
        height: 471px;
        margin-right: 30px;

        &:first-child {
          margin-left: 60px;
        }

        &:last-child {
          margin-right: 60px;
        }

      }

    }

    .slides-wrapper {

      @media (max-width: $lte-largePhone) {
        display: none;
      }

    }

    .mobile-slides-wrapper {

      @media (min-width: $gte-largePhone) {
        display: none;
      }

      .slide {

        width: 92vw;
        height: auto;
        margin-right: 2vw;

        &:first-child {
          margin-left: 2vw;
        }

        &:last-child {
          margin-right: 2vw;
        }



      }

    }
  }

  .section-footer{
    height: 20px;
    background-color: $beige;
  }
}
