//http://zellwk.com/blog/responsive-typography/
@import "fonts";

html {

  font-size: 11px;

  @media (min-width: $lte-mediumPhone) {
    font-size: 12px;
  }

  @media (min-width: $lte-smallDesktop) {
    font-size: 14px;
  }

  @media (min-width: $max-body-width) {
    font-size: 15px;
  }

  line-height: 1.35rem;

}

h1 { font-size: 1.6rem; line-height: 1em;}
h2 { font-size: 1.5rem; }
h3 { font-size: 1.25rem; }
h4 { font-size: 1rem; }

h1, h2, h3, h4 {
  font-weight: normal;
  line-height: 1em;
}

h1, h2, h3 {
  font-family: "apercu_bold", sans-serif;
}

h4 {
  font-family: "apercu_medium", sans-serif;
}

body {
  font-size: 1rem;
  font-family: "apercu", sans-serif;
}

.pi-paragraph-wrapper {

  h1, h2, h3, h4 {
    margin-top: 0;
    margin-bottom: .7em;

    & + p {
      margin-bottom: 0;
      font-size: .85rem;
      line-height: 1.7em;
    }

  }

}

.pi-section-header .pi-paragraph-wrapper {

  h1 {

    margin-bottom: .5em;

    & + p {
      font-size: 1rem;
      line-height: 1.3em;
    }

  }

}
