.company {

  border-bottom: 1px solid black;

  .pi-section-header {
    border-bottom: 1px solid black;
  }

  .people {

    .pi-content-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      @media (max-width: $largePhone) {
        flex-direction: column;
        align-items: center;
      }

      .founder {

        width: 35%;
        @media (max-width: $largePhone) {
          width: 100%;
        }

        .jordan-image {

          padding-bottom: 15px;
          margin-bottom: 30px;
          border-bottom: 1px solid black;

          img {
            border: 1px solid black;
            width: 100%;
            height: 200px;
          }

        }

      }

      .advisers {

        width: calc(65% - 50px);

        @media (max-width: $largePhone) {
          width: 100%;
        }

        .adviser {
          width: 50%;
          float: left;

          &:not(:last-of-type){
            margin-right: 15px;
          }

          .adviser-image {
            width: 100%;
            height: 176px;
            border: 1px solid black;
            margin-bottom: 15px;
          }

          .adviser-bio {

            h4 {
              margin-bottom: 0em;
            }

            p {
              line-height: 1.4em;
              margin-top: .3em;
            }

          }

        }
      }
    }
  }

}
