//Apercu///

@font-face {
  font-family: 'apercu';
  src: url('../fonts/apercu/Apercu.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'apercu_bold';
  src: url('../fonts/apercu/ApercuBold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'apercu_medium';
  src: url('../fonts/apercu/ApercuMedium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'apercu_mono';
  src: url('../fonts/apercu/ApercuMono.otf');
  font-weight: normal;
  font-style: normal;
}
