$video-wrapper-width: 440px;
$video-wrapper-height: 150px;
$menu-height: 50px;
$hacky-offset: 16px;

.big-head {

  position: relative;
  @-webkit-keyframes bump {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-$menu-height);
    }
  }

  .animation-wrapper {
    position: relative;
    z-index: 1;
    animation: bump .3s 2s forwards;
  }

  .cover-photo {
    height: 423px;
    background-color: grey;
    background-image: url("../assets/images/cover.jpg");
    background-size: cover;
    background-position: -2% center;
    background-repeat: no-repeat;
  }

  .title-wrapper {
    margin-top: -($video-wrapper-height - $hacky-offset);
    position: relative;
  }

  .video-block, .title-block {
    width: 80%;
    max-width: 900px;
    margin: auto;
  }

  .video-block {
    overflow: auto;
    margin-bottom: 30px;

    .video-wrapper{

      float: right;
      width: $video-wrapper-width;
      height: $video-wrapper-height;
      position: relative;

      .video {
        float: left;
        width: 216px;
        height: 100%;
        background-color: black;
      }

      .caption {
        height: 100%;
        width: calc(100% - 216px);
        float: left;
        position: relative;
        font-size: 10px;

        span {
          position: absolute;
          bottom: 0;
          left: 15px;
        }

      }

    }

  }

  .title-block {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: calc(25% - #{$video-wrapper-height + $menu-height});
    position: relative;
    font-weight: bold;
    font-family: "apercu_bold", sans-serif;

    .logo {
      height: 55px;
      width: auto;
    }

    .tagline-side {
      width: $video-wrapper-width;
      font-size: 1.3em;
    }

  }

  .fake-menu-block {
    background-color: white;
    height: $menu-height;
    width: 100%;
  }

  .menu-block {
    background-color: #fcbb78;
    height: $menu-height;
    margin-top: 0px;
    bottom: 0;
    position: absolute;
    width: 100%;
    overflow: hidden;

    .separator{
      display: block;
      width: 1px;
      height: 300px;
      border-left: 1px solid white;
    }

    nav {
      @extend .pi-content-container;
      color: white;
      height: 100%;
    }

    nav.compressed.showing {

      display: flex;
      justify-content: space-between;
      align-items: center;


      .logo-side {
        width: 22%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .separator {
          transform: rotate(42deg);
        }

        .logo {
          font-weight: bolder;
          font-size: 36px;
        }

        .current-section{
          color: white;
          font-weight: 800;
        }

      }

      .nav-side {
        display: flex;
        width: 35%;
        justify-content: space-between;

        a {
          font-size: 15px;
          font-weight: 500;
        }
      }

    }

    nav.full {

      display: flex;
      align-items: center;
      justify-content: space-between;

      .separator {

        &:nth-of-type(1){
          transform: rotate(-42deg);
        }

        &:nth-of-type(2){
          transform: rotate(65deg);
        }

        &:nth-of-type(3){
          transform: rotate(-42deg);
        }

      }

      a {
        text-align: center;
        color: white;
        font-weight: bold;
        position: relative;
      }

    }
  }


}

.big-head.scrollingAwayFromTop {

  .menu-block {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: $max-body-width;
    z-index: 1;
    margin: auto;
    bottom: auto;

    nav.full {
      display: none;
      //@extend nav.full.hiding
    }

    nav.compressed {
      @extend nav.compressed.showing;
    }

  }

}
