.philosophy {

  //padding-bottom: $vertical-spacing;
  height: 90vh;
  position: relative;

  .pi-content-wrapper {
    padding-top: 0;
    position: relative;

    .overview {
      //width: 70%;
      box-sizing: content-box;
      position: relative;

      .overview-photo {
        position: relative;
        box-sizing: content-box;
        width: 70%;
        max-width: 620px;
        height: 300px;
        border-right: 30px solid white;
        border-left: 30px solid white;
        background: $medium-grey;
        background-image: url("../assets/images/van.png");
        background-size: cover;
        background-position: center;
      }

      .overview-paragraph-wrapper {
        display: flex;
        left: -30px;
        align-items: flex-start;

        .philosophy-overview {
          background: white;
          padding: 30px;
          padding-right: $vertical-spacing;
          padding-top: $vertical-spacing;
          //width:50%;

          h2 {
            color: $red;
          }
        }

        .statistic-description{
          padding: $vertical-spacing;
          background-color: $beige;
          width: 36%;
          max-width: 324px;
        }

      }

    }

  }

  .statistics {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .statisticsSVG {
      width: 100%;
      height: 100%;
    }

      .stat, line {
        stroke-width: 3;
        stroke: $beige;
      }

      .stat {
        fill: $peach;
      }

      image {
        transform: translate(-50%, -50%);

        &.check {
          transform: translate(-85%, -28%);
        }

      }

    line {
      stroke-width: 4;
    }

  }

}
