@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/grid";

$vertical-spacing: 60px;
$beige: #f7f2eb;
$dark: #4d4d4d;
$medium-grey: #979797;
$peach: #fcbb78;
$max-body-width: 1280px;
$red: #f1646f;

$smallPhone: 320px;
$mediumPhone: 375px;
$largePhone: 414px;

$tablet: 768px;
$lt-tablet: $tablet - 1;

$smallDesktop: 800px;
$lt-smallDesktop: $smallDesktop - 1;

$bigDesktop: 1366px;


* {
  box-sizing: border-box;
}

html {
  background-color: $beige;
}



body {
  padding: 0;
  max-width: $max-body-width;
  background: white;
  margin: auto;
  box-shadow: 0px 0px 19px 0px rgba(185, 185, 185, 0.50);
  font-family: "Helvetica", sans-serif;
}

.text-centered {
  text-align: center;
}

.pi-section-header {
  padding: 35px 0;

  .pi-section-header-text {
    @extend .pi-content-container;
  }

}

.pi-content-wrapper {
  padding: 60px 0;
}

.pi-content-container {
  width: 80%;
  max-width: 900px;
  margin: auto;

  @media (max-width: $smallDesktop - 1) {
    width: 85%;
  }

}

.pi-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //background-color: rgba(77, 77, 77, 0.50);

    .label {
      position: absolute;
      bottom: 40px;
      left: 50px;
      right: 0;
      color: white;
      margin:0;
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.90);
    }
}

.hide-on-mobile {

  @media (max-width: $smallDesktop - 1) {
    display: none;
  }

}

@import "scss/typography";
@import "scss/header";
@import "scss/about";
@import "scss/philosophy";
@import "scss/product";
@import "scss/company";
@import "scss/contact";
