<!doctype html>
<html ng-app="websiteV2" root-scroll ng-strict-di>
  <head>
    <meta charset="utf-8">
    <title>PiXYZ: Health conscious productivity for students</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body>

  <header class="big-head" ng-class="{'scrollingAwayFromTop': !$root.scrollingNearTop}">
    <div class="animation-wrapper">
      <div class="cover-photo"></div>
      <div class="title-wrapper">
        <div class="logo-side">
          <img class="logo" src="assets/logo.png">
        </div>
        <div class="tagline-side">
          <div class="video-wrapper">
            <div class="video"></div>
          </div>
          <div class="tagline">
              We make health conscious<br>
              productivity apps for students and teachers.
          </div>
        </div>
      </div>
    </div>
    <div class="menu-block" ng-controller="MenuController">
      <nav class="full">
        <a ui-sref="philosophy"><h4>Philosophy</h4></a>
        <div class="separator"></div>
        <a ui-sref="product"><h4>Product</h4></a>
        <div class="separator"></div>
        <a ui-sref="company"><h4>Company</h4></a>
        <div class="separator"></div>
        <a ui-sref="contact"><h4>Contact</h4></a>
      </nav>
      <nav class="compressed">
        <div class="logo-side">
          <div class="logo">Pi</div>
          <div class="separator"></div>
          <h3 class="current-section">{{ selected_state.data.sectionDisplayName }}</h3>
          <div class="current-section-mobile">
            <span class="caret">&#9660;</span>
            <select ng-model="selected_state" ng-change="stateNameSelected()" ng-options="state.data.sectionDisplayName for state in section_states"></select>
          </div>
        </div>
        <div class="nav-side">
          <a ui-sref="philosophy" ui-sref-active="active"><h4>Philosophy</h4></a>
          <div class="separator"></div>
          <a ui-sref="product" ui-sref-active="active"><h4>Product</h4></a>
          <div class="separator"></div>
          <a ui-sref="company" ui-sref-active="active"><h4>Company</h4></a>
          <div class="separator"></div>
          <a ui-sref="contact" ui-sref-active="active"><h4>Contact</h4></a>
        </div>
      </nav>
    </div>
  </header>

  <section class="about">
    <div class="pi-content-wrapper">
      <div class="pi-content-container short-description">
        Students too often choose between good health and good grades; and we don't think that's right.<br class="hide-on-mobile">
        Our day planning software helps students balance their asignments and todos without sacrificing<br class="hide-on-mobile">
        sleep, while giving teachers what they need to set manageable expectations for the classroom.
      </div>
    </div>
  </section>

  <section class="philosophy" scroll-sref="philosophy">
    <div class="pi-content-wrapper" ng-controller="PhilosophyCtrl">
        <div class="photos">
          <div class="run photo">
            <div class="pi-overlay">
              <!--<h3 class="label">Discover<br> Our Philosophy</h3>-->
            </div>
          </div>
          <div class="work photo">
            <div class="pi-overlay">
              <!--<h3 class="label">Explore<br> Our Product</h3>-->
            </div>
          </div>
          <div class="van photo">
            <div class="pi-overlay">
              <!--<h3 class="label">Meet Our Team</h3>-->
            </div>
          </div>
        </div>
        <div class="pi-content-container">
          <div class="overview">

            <div class="overview-paragraph-wrapper">
              <div class="philosophy-overview pi-paragraph-wrapper">
                <h1 class="red">We believe that wellness and<Br>
                  productivity are insepraeble.
                </h1>
                <p>
                  As students are pressured by an overwhelming number of<br>
                  responsibilities, college campuses are witness to a steady<br>
                  decrease in the quality of student mental health. We think<br>
                  current productivity tools could do more to aid in balancing
                  workload and determining expectations.
                </p>
              </div>
            </div>

            <div class="statistics-wrapper">
              <div class="statistic">
                <div class="statistic-description pi-paragraph-wrapper">
                  <h2 class="red">{{ currentStat.title }}</h2>
                  <p>{{ currentStat.details }}</p>
                </div>
              </div>
              <div class="icons">
                <button class="icon smile" ng-class="{'active-stat' : currentStatIndex == 0}" make-square ng-click="selectStat(0)"></button>
                <button class="icon heart" ng-class="{'active-stat' : currentStatIndex == 2}" make-square ng-click="selectStat(2)"></button>
                <button class="icon check" ng-class="{'active-stat' : currentStatIndex == 1}" make-square ng-click="selectStat(1)"></button>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>

  <section class="product" scroll-sref="product">
    <div class="explore-pi-daily pi-section-header">
      <div class="pi-section-header-text pi-paragraph-wrapper">
        <h1>Explore PiDaily</h1>
        <p>
          Click the red dots to learn more about PiDaily,<Br>
          our health conscious day planner for students.
        </p>
      </div>
    </div>
    <div class="demo">
      <div class="slides-wrapper">
        <img class="slide" src="assets/images/product/product-slide-01.jpg">
        <img class="slide" src="assets/images/product/product-slide-05.jpg">
        <img class="slide" src="assets/images/product/product-slide-03.jpg">
        <img class="slide" src="assets/images/product/product-slide-04.jpg">
      </div>
    </div>
    <div class="section-footer"></div>
  </section>

  <section class="company" scroll-sref="company">
    <div class="pi-section-header">
        <div class="pi-section-header-text text-centered pi-paragraph-wrapper">
          <h1>About the Company</h1>
          <p>
            Click the red dots to learn more about PiDaily,<Br>
            our health conscious day planner for students.
          </p>
        </div>
    </div>
    <div class="pi-content-wrapper people">
      <div class="pi-content-container">
        <div class="founder">
          <div class="jordan-image">
            <img src=""/>
          </div>
          <div class="jordan-bio pi-paragraph-wrapper">
            <h2>Jordan Bradley, Founder</h2>
            <p>
              Click the red dots to learn more about PiDaily
              our health conscious day planner for students. And
              then ww will probably say something about jordan rn
              and ofcourse he will need to elaborate aobut this much.
            </p>
          </div>
        </div>
        <div class="advisers">
          <h3 class="advisers-title">Advisors</h3>
          <div class="advisers-list">
            <div class="adviser">
              <div class="adviser-image"></div>
              <div class="adviser-bio pi-paragraph-wrapper">
                <h4>Keith Lea, Offline</h4>
                <p>As students are pressured by an overwhelming number of responsibilities, college campuses are.</p>
              </div>
            </div>
            <div class="adviser">
              <div class="adviser-image"></div>
              <div class="adviser-bio pi-paragraph-wrapper">
                <h4>Randell Bradley, Neumours</h4>
                <p>As students are pressured by an overwhelming number of responsibilities, college campuses are.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact" scroll-sref="contact">
    <div class="pi-section-header">
      <div class="pi-section-header-text text-centered pi-paragraph-wrapper">
        <h1>Contact Us</h1>
        <p>
          Click the red dots to learn more about PiDaily,<Br>
          our health conscious day planner for students.
        </p>
      </div>
    </div>
    <div class="get-pi-wrapper">
      <div class="get-pi">
        <div class="pi-paragraph-wrapper">
          <h2>Get Pi on Your Campus</h2>
          <p>
            Click the red dots to learn more about PiDaily
            our health conscious day planner for students.
          </p>
        </div>
      </div>
      <div class="form-wrapper">
        <form>
          <div class="field-group name"><label for="name">Name:</label><input id="name" type="text" /></div>
          <div class="field-group title"><label for="title">Title:</label><input id="title" type="text" /></div>
          <div class="field-group email"><label for="email" >Email:</label><input id="email" type="email" /></div>
          <div class="interests">
            <div class="interest">
              <input id="consultation_check" type="checkbox" name="interests" option="consultation"/>
              <label for="consultation_check"><div class="circle"></div>Consultation</label>
            </div>
            <div class="interest">
              <input id="pilot_check" type="checkbox" name="interests" option="pilot"/>
              <label for="pilot_check"><div class="circle"></div>Pilot Program</label>
            </div>
            <br>
            <div class="interest">
              <input id="video_check" type="checkbox" name="interests" option="video"/>
              <label for="video_check"><div class="circle"></div>Video Demo</label>
            </div>
          </div>
          <button class="submit-button" type="submit">Send</button>
        </form>
      </div>
    </div>
  </section>

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
